.test {
    position: absolute;
    left: 0;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    width: 0vw;
    height: 0vh;
    transition: all 1s;
}

@keyframes testz {
    0% {
        width: 0vw;
    }
    25% {
        width: 10vw;
    }
    50% {
        width: 20vw;
    }
    75% {
        width: 30vw;
    }
    100% {
        width: 40vw;
    }
}

@keyframes testz2 {
    0% {
        height: 0vh;
    }
    25% {
        height: 12vh;
    }
    50% {
        height: 24vh;
    }
    75% {
        height: 36vh;
    }
    100% {
        height: 50vh;
    }
}

#svg-container {
    position: absolute;
    left: 0;
    width: 12%;
    height: 10vh;
}

#chevron {
    position: absolute;
    right: 0;
    width: 40vw;
    height: 100vh;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

svg polygon {
    position: absolute;
    left: 0;
    cursor: pointer;
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s infinite alternate;
    fill: transparent;
    transition: fill 1s;
}

svg polygon:hover {
    fill: lime;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: lime;
        stroke-width: 3;
    }
}