#contact-container {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    animation: load 1s forwards;
    animation-delay: 1s;
}

#contact-container h3 {
    max-width: 500px;
    margin: 0px auto 2rem auto;
}

#contact-container p {
    max-width: 300px;
    margin: 2rem auto 1.5rem auto;
    font-size: 0.8rem;
}

#contact-container p strong {
    color: lime;
}

.form-field {
    background-color: transparent;
    color: white;
    font-family: "Inter";
    font-size: 1.5rem;
    border: 1px solid white;
    margin-bottom: 1rem;
    width: 40%;
    max-width: 500px;
}

#message-field {
    background-color: transparent;
    color: white;
    font-family: "Inter";
    font-size: 1rem;
    border: 1px solid white;
    width: 40%;
    max-width: 500px;
    min-height: 200px;
    resize: none;
}

#message-field::-webkit-scrollbar {
    width: 0.4rem;
}

#message-field::-webkit-scrollbar-track {
    border: 1px solid white;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#message-field::-webkit-scrollbar-thumb {
    background-color: lime;
    outline: 1px solid black;
}

#submit-btn {
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
    margin-top: 1rem;
    border: 2px solid white;
    font-family: "Inter";
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, lime 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

#submit-btn:hover {
    background-position: left;
}

@keyframes load {
    to {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    #contact-container {
        margin-left: 35%;
    }
}