#contact-container {
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    animation: load 1s forwards;
}

#contact-container h3 {
    max-width: 500px;
    margin: 0px auto 2rem auto;
    opacity: 0;
    animation: load 0.25s forwards;
    animation-delay: 1s;
}

#submit-btn {
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
    border: 2px solid white;
    font-family: "Inter";
    cursor: pointer;
    opacity: 0;
    background: linear-gradient(to left, transparent 50%, lime 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
    animation: load 0.25s forwards;
    animation-delay: 1.25s;
}

#submit-btn:hover {
    background-position: left;
}

#contact-container p {
    max-width: 300px;
    margin: 2rem auto 1.5rem auto;
    font-size: 0.8rem;
    opacity: 0;
    animation: load 0.25s forwards;
    animation-delay: 1.5s;
}

#contact-container p strong {
    color: lime;
}


@keyframes load {
    to {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    #contact-container {
        margin-left: 35%;
    }
}