#home-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 15vh;
    opacity: 0;
    animation: load 1s forwards;
    animation-delay: 1s;
}

#home-container h2 {
    font-size: 3rem;
    margin-bottom: -1rem;
}

#home-container h1 {
    font-size: 6rem;
    background-image: linear-gradient(
        229deg, 
        rgba(20,236,7,1) 15%, 
        rgba(128,227,174,1) 32%, 
        rgba(241,240,240,1) 85%, 
        rgba(57,152,55,1) 90%
    );
    color: transparent;
    background-size: 200% auto;
    background-clip: border-box;
    background-clip: text;
    animation: textclip 5s linear infinite;
}

#home-container p {
    margin: 6rem auto 0px auto;
    max-width: 350px;
    font-size: 1.5rem;
}

#home-container strong {
    /* color: white; */
    color: lime;
    /* animation: blinker 2s infinite; */
    text-shadow: none;
}

#home-container div {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#home-container div > * {
    color: white;
    margin-right: 1rem;;
}

@keyframes load {
    to {
        opacity: 1;
    }
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@keyframes blinker {
    50% {
        color: lime;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px lime,
        0 0 82px lime,
        0 0 92px lime,
        0 0 102px lime,
        0 0 151px lime;
    }
}

@media (min-width: 1000px) {
    #home-container {
        margin-right: 35%;
    }
}