#svg-container {
    position: absolute;
    left: 0;
    width: 12%;
    height: 10vh;
}

svg polygon {
    position: absolute;
    left: 0;
    cursor: pointer;
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    transition: fill 1s;
    animation: dash 10s infinite alternate;
}

svg polygon:hover {
    fill: lime;
}

#navbar-container {
    position: absolute;
    z-index: 2;
    left: 10%;
    height: 5vh;
    opacity: 0;
    animation: show-nav 1s forwards;
}

#navbar-container-hidden {
    position: absolute;
    z-index: 2;
    left: 10%;
    height: 5vh;
    animation: hide-nav 1s forwards;
}

.nav-btn {
    font-family: "Inter";
    font-size: 1rem;
    margin: 0.8rem 0.3rem 0px 0.3rem;
    background-color: transparent;
    border-width: 0px;
    color: white;
    cursor: pointer;
}

.nav-btn-active {
    font-family: "Inter";
    font-size: 1rem;
    margin: 0.8rem 0.3rem 0px 0.3rem;
    background-color: transparent;
    border-left: 2px solid lime;
    border-right: 2px solid lime;
    border-top: 0px;
    border-bottom: 0px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
}

.nav-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.nav-btn:hover::after {
    width: 100%;
}

.nav-btn-active:hover {
    background-color: lime;
    transition: background-color 0.5s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: lime;
        stroke-width: 3;
    }
}

@keyframes hide-nav {
    to {
        opacity: 0;
    }
}

@keyframes show-nav {
    to {
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    #navbar-container {
        transform: scale(1.2);
        margin-right: 35%;
        top: 1rem;
    }
}
