#navbar-container {
    position: fixed;
    z-index: 2;
    user-select: none;
}

#svg-container {
    position: fixed;
    top: 0.5rem;
    left: 1%;
    width: 12%;
    height: 10vh;
    max-width: 150px;
    min-width: 100px;
}

svg polygon {
    position: absolute;
    left: 0;
    cursor: pointer;
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    transition: fill 1s;
    animation: dash 10s infinite alternate;
}

svg polygon:hover {
    fill: lime;
}

#navbar, #navbar-hidden {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    width: 35%;
    left: 9%;
    top: 0.2rem;
    height: 5vh;
    opacity: 0;
    animation: show-nav 1s forwards;
}

#navbar-hidden {
    opacity: 1;
    animation: hide-nav 1s forwards;
}

.nav-btn, .nav-btn-active {
    font-family: "Inter";
    font-size: 1.2rem;
    height: 1.5rem;
    margin: 0.8rem 0.3rem 0px 0.3rem;
    background-color: transparent;
    border-width: 0px;
    color: white;
    cursor: pointer;
}

.nav-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.nav-btn:hover::after {
    width: 100%;
}

.nav-btn-active {
    border-left: 2px solid lime;
    border-right: 2px solid lime;
    border-top: 0px;
    border-bottom: 0px;
    background: linear-gradient(to left, transparent 50%, lime 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.nav-btn-active:hover {
    background-position: left;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: lime;
        stroke-width: 3;
    }
}

@keyframes hide-nav {
    to {
        opacity: 0;
    }
}

@keyframes show-nav {
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    #navbar {
        width: 100%;
        left: 12%;
    }
}

@media (max-width: 400px) {
    #navbar {
        margin-left: 30px;
    }

    .nav-btn, .nav-btn-active {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {
    #navbar, #navbar-hidden {
        left: 6%;
        top: 1rem;
    }
}
